.project_card_div {
	background-color: var(--secondary-color);
	border-radius: 5%;
	box-shadow: 2px 2px 2px black;

	padding: 5%;
	margin: 2%;
	width: 19%;
}

.project_card_div:hover {
	box-shadow: 2px 2px 2px var(--bg-color);
}

.project_card_div h3 {
	color: var(--bg-color);
	font-weight: 800;
	font-size: 1.3rem;
}

.read_more_link {
	color: var(--bg-color);
	font-weight: bold;
	text-decoration: none;
}

.read_more_link:hover {
	cursor: pointer;
	text-decoration: underline var(--secondary-color);
}

.navLink_read_more {
	text-decoration: none;
}

.navLink_read_more:hover {
	color: #d33a3a;
}

.project_links_div {
	/* align-items: right; */
	padding-left: 60%;
}

.link_button {
	/* width: 100%; */
	text-align: center;
	font-size: 1.5rem;
	border: none;
	border-radius: 5%;
	margin: 4%;
	padding: 7%;

	background-color: transparent;
	color: var(--social-link-color);
	align-items: right;
}

.link_button:hover {
	background-color: transparent;
	color: var(--bg-color);
	cursor: pointer;
}

@media (min-width: 320px) and (max-width: 425px) {
	.project_card_div {
		width: 80%;
		margin: 5% 2%;
	}
}
