.about {
	padding: 7% 20%;
}

.about h1 {
	font-size: 2.5rem;
}

.about p {
	font-size: 1.1rem;
	font-weight: 500;
}

.aboutParent {
	display: flex;
	justify-content: space-evenly;
}

.aboutOneDiv {
	width: 70%;
	padding: 0% 3% 0% 0%;
}

.aboutTwoDiv {
	width: 30%;
}

.aboutTwoDiv img {
	width: 100%;
	height: auto;
}

.socialHandles {
	margin-top: 3%;
	text-align: center;
}

.socialHandles button {
	/* padding: 1.5%; */
	width: 3rem;
	height: 3rem;

	border: none;
	border-radius: 50%;
	font-size: 1.5rem;

	margin-right: 3%;

	background-color: var(--social-bg-color);
	color: var(--social-link-color);
}

.socialHandles button:hover {
	background-color: var(--social-link-color);
	color: #d33a3a;

	cursor: pointer;
}

@media (min-width: 320px) and (max-width: 425px) {
	.about {
		padding: 20% 10%;
	}

	.about h1 {
		font-size: 1.5rem;
	}

	.aboutParent {
		display: block;
	}

	.aboutOneDiv {
		width: 100%;
	}

	.aboutTwoDiv {
		width: 100%;
	}

	.aboutTwoDiv img {
		width: 60%;
		height: auto;

		display: block;
		margin: 0 auto;
		padding: 10% 0;
	}
}
