.home {
	padding: 11% 25% 0% 25%;
}

.homeDiv {
	/* width: 50%; */
	display: flex;
}

.homeImageDiv {
	width: 40%;
}

.homeTitleDiv {
	width: 60%;
}

.homeImageDiv img {
	width: 90%;
	height: auto;
	display: block;
	margin: 5% auto 0 auto;

	border-radius: 50%;
}

.homeTitleDiv {
	padding-top: 2%;
}

.homeTitleDiv h1 {
	font-size: 7rem;
	font-weight: bold;
	text-align: center;

	margin: 0;
}

.homeTitleDiv h2 {
	font-size: 3.6rem;
	margin: 0;
}

.quoteDiv {
	margin-top: 7%;
	width: 95%;

	margin: 7% auto;
}

.quoteDiv h1 {
	text-align: center;
	font-size: 2.1rem;
	font-weight: 400;
	margin: 0;
}

.quoteDiv h2 {
	font-size: 1.3rem;
	font-weight: 500;

	text-align: center;
	margin: 0;
}

/* ================== styling for the mobile view =========== */
@media (min-width: 320px) and (max-width: 425px) {
	.home {
		padding: 25% 10% 0% 10%;
	}

	.homeDiv {
		display: block;
	}

	.homeImageDiv {
		/* background-color: aqua; */
		width: 100%;
	}

	.homeImageDiv img {
		display: block;
		margin: 0 auto;
		width: 60%;
		height: auto;
	}

	.homeTitleDiv {
		width: 100%;
	}

	.homeTitleDiv h1 {
		font-size: 4rem;
	}

	.homeTitleDiv h2 {
		font-size: 1.5rem;
		text-align: center;
	}

	.quoteDiv h1 {
		text-align: center;
		font-size: 1.5rem;
		font-weight: 400;
		margin: 0;
	}

	.quoteDiv h2 {
		font-size: 1rem;
		font-weight: 500;

		text-align: center;
		margin: 0;
	}
}
