.navbar {
    padding: 2% 4%;
    background-color: #141C1F;

    display: flex;
    justify-content: space-between;
}

.navLinks {
    width: 30%;
}

.navLinks a {
    text-decoration: none;
    color: white;
    padding: 0 5%;

    font-weight: bold;
    font-size: 1.2rem;
}

.navLinks a:hover {
    text-decoration: underline;
    color: #D33A3A;
}

.setting button{
    background-color: transparent;
    font-size: 1.2rem;
    color: white;

    border: none;
}

.setting button:hover {
    cursor: pointer;
}