nav {
    background-color: var(--nav-bg);

    display: flex;
	justify-content: space-around;
	padding: 1.4rem 3.5rem;

	width: 100%;
	position: fixed;
	top: 0;


    /* background-color: rgba(255, 255, 255, .15);   */
    backdrop-filter: blur(7px);
}

.navLinks {
    width: 30%;
}

.setting button{
    background-color: transparent;
    font-size: 1.3rem;
    color: var(--font-color);

    border: none;
}

.setting button:hover {
    cursor: pointer;
}